body {
    background-color: #35853d;
    margin: 0;
    padding: 0;
    Text-align: center;
    background: #555555;
    }
h1 {
    font-family: 'Consolas';
    color: white;
    background-color: #43853d;
}    